body{
    background-image: url('../main/images/background.png')
}

#outerfield{
    
    width: 65%;
    height: auto;
    margin: 0 auto;
}

#overTitle{
    width: auto;
    background-color: white;
    margin-top: 1rem;
    border-bottom: black;
    border-bottom: solid;
    font-size: 1.2rem;
    font-weight: bold;
}

#title{ 
    width: 100%;
    height: 4rem;
    background-color: white;
    opacity: 0.9;
}

#overDescription{
    width: auto;
    background-color: white;
    margin-top: 1rem;
    border-bottom: black;
    border-bottom: solid;
    font-size: 1.2rem;
    font-weight: bold;
}

#description{
    width: 100%;
    height: 20rem;
    background-color: white;
    opacity: 0.9;
}

#overConditions{
    width: auto;
    background-color: white;
    margin-top: 1rem;
    border-bottom: black;
    border-bottom: solid;
    font-size: 1.2rem;
    font-weight: bold;
    float: top;
}

#conditions{
    width: 49%;
    height: 15rem;
    background-color: white;
    float: left;
    opacity: 0.9;
}
/*Here is another over title*/
#byset2{
    width: 49%;
    height: 15rem;
    background-color: white;
    float: right;
    opacity: 0.9;
}

#outerButton{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    
}
input[type=submit] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:15px 15px; 
    background:white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 20%;
    float: right;
}

#innterConditions{
    width: 100%;
}