body {
    background-color: white;
    font-size: 100%;
}

.headerMenu {
    background-color: #034B59;
    height: 3rem;
}
.usLayout{
    background-color: #034B59;
    color: white;
    font-weight: bold;
    width: 7rem;
    height: 3rem;
    background-color: #034B59;
    float: right;
    margin-left: 0.1rem;
    border: none;
}

