html, body {
    margin: 0;
    padding: 0;
}

#menu {


}

#menu ul {
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    position: relative;
    background-color: #2E2E2E;
    font-family: 'Open Sans', sans-serif;
 
}

#menu ul li {
    list-style-type: none;
    margin-right: 5%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}


#menu ul li a { 
    color: white;
    margin: 0px;
    text-decoration: none;
    position: relative;
}

#menu ul li a:hover  {
    text-decoration: underline;
}

#menu ul li:first-of-type  {
    margin-right: auto;
    margin-left: 5%;

}
#logo {
    width: 120px;

    margin-left: 5%;
    transform: scale(1);
}

#searchbar {
    border-radius: 10px;
    color: black;
    width: 250px;
    padding: 5px 10px;
 
}
#searchButton {
    background-color: white;;
    border: none;
    color: color;
    padding: 4px;
    border-radius: 10px;
}
#einloggen, #profile {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 0.5em !important;
    margin-left: 0.5em !important;
}

.profile_img {
    float:left;
}

#loginBox {
    color: black;
    background-color: white;
    position: absolute;
    padding: 15px;
    right: 1%;
    /* left: 50%; */
    top: 100%;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    
}

.active {
    display: block !important;
}
.hidden {
    display: none !important;
}
#loginBox input{
    background-color: rgb(243, 243, 243); 
    padding: 5px;
    border-radius: 5px;

}
#loginBox label{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    font-weight: bold;
    

}
#loginBox #login {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #49a0cc;
    padding:10px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#loginBox a {
    color: black !important;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 20px !important;
}
#usermenu {
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    min-width: 170px;
    width: 8%;
    border-radius: 5px;
    display: none;
    top: 100%;
    box-sizing:  border-box;
    border-radius: 0px 0px 5px 5px;
}

#usermenu a{
    display: block;
}

.profileIcon {
    float:left;
}
.profileText {
    display: block;
    font-size: 1.2rem;
    color: black !important;
    margin: 1.2em 0 1.2em 0 !important;
    padding-top: .3em;
    padding-left: 2.5em;
}
header {
    background-color: #2E2E2E;
}
#mobile_logo {
    display: none;
}
@media (max-width: 1060px) {
    header {
        height:7.5em;
    }
    #menu {
        float: right;
        /* width: 100%; */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        /* width: auto; */
        padding: 0;
        background: url(
        menu.png);
        right: 21%;
        width: 64px;
        height: 64px;
    }
    #menu:hover ul {
       display: block;
    }
    #menu #btn_menu {
        position: absolute;

    }
    #menu ul {
        position: absolute;
        display: none;
        background-color: white;
        text-align:  center;
        top: 100%;
        /* right: 3px; */
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 10px;
        min-width: 130px;
        width: 8%;
        border-radius: 5px 5px 0 0;
    }

    #menu ul li form {
        display: none;
    }
    #menu ul li a  {
        color: black;
    }
    #menu ul li:first-of-type {
        display: none;
    }
    #menu #einloggen {
        float: none;
    }

    #mobile_logo {
        display: inline-block;
        position: absolute;
        left: 2%;
        height: 124px;
    }
    #usermenu {
        left: 0;
    }
    body #profile {
        width: 64px;
        margin: 0 auto !important;
        display: block;
        float: none;
    }

    #li_search {
        border-bottom: none;
    }


}

