#menu {
    /*	background-color: rgba(255,255,255,0.4);*/
        background-color: rgb(42, 42, 43);
     
        font-family: 'Roboto', sans-serif;
        padding: 5px 0;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        
       
    }
    
    #menu ul {
        margin: 0;
        padding: 0;
        display:flex;
        align-items: center;
    }
    
    #menu ul li {
        list-style-type: none;
        margin-right: 2%;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        
        display:block;
    }
    
    
    #menu ul li a {
        color: #fff;
        margin: 0px;
        text-decoration: none;
    }
    #menu ul li :not(:first-of-type):after {
        content: "|";
        padding-left: 20px;
    }
    #menu ul li a:hover  {
        text-decoration: underline;
    }
    
    #menu ul li:first-of-type  {
        margin-right: auto;
        margin-left: 10%;
    }
    #logo {
        width: 120px;
    
        margin-left: 5%;
        transform: scale(1);
    }
    
#searchbar {
    border-radius: 10px;
    color: black;
    width: 250px;
    padding: 5px 10px;
 
}
#searchButton {
    background-color: white;;
    border: none;
    color: black;
    padding: 4px;
    border-radius: 10px;
}