
body{
    font-size: 100%;
    /*background-image: url('images/background.png');*/
    background-color: aliceblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: aliceblue;*/
}

.menu{

}

.infoboxes{
    margin-top: 10%;
}
.ideaLabels{
    margin-top: 10%;
}