
body{
    font-size: 100%;
}
.scollView{
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

#container0{
    width: 100%;
    margin: auto;
    border-bottom-width: 2px;
    border-style: solid;
    height: 5rem;
}
#container1{
    width: 100%;
    margin-top: 10%;
}

.ideaLabel{
    color: black;
    height: 8em;
    width: 47%;
    margin: 0 auto;
    border-style: none;
    background-color: white;
    margin-top: 8px;
}
/* ------------------------------------------------------ */
.profile{
    float: left;
    width: 25%;
    background-color: gray;
}

.title{
    width: 50%;
    float:left;
    background-color: gray;
}

.status{
    float: left;
    width: 25%;
    background-color: gray;
}

/* ------------------------------------------------------ */
.username{
    border-width: 0.1rem;
    float: left;
}
.description{   
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2em;
    padding-right: 2em;
    float: center;
}

.buttonUp{
    background:transparent;
    border-style: none;
    float: left;
}

.buttonDown{
    background:transparent;
    border-style: none;
    float: right;
}

.likesAndDislikes{
    float: right;
}