body{
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}



#container{  
    margin: 20% auto 0 auto;
    text-align: center;
}

.box {
    width: 25%;
    display: inline-block;
    border: 1px solid black;
    transition: 1s all;
}

.imgholder img {
    width: 100%;
}
.imgholder {
    width: 30%;
    transition: 1s all;
    margin: 0 auto;
}

.box:hover .imgholder {
    transform: scale(1.2) rotate(10deg);
   
}