body{
    background-color: aliceblue;
}



#container{
    width: 80%;
    margin: 20% auto 0 auto;
    text-align: center;
}

.box {
    width:40%;
    display: inline-block;
    border: 1px solid black;
}
.box img {
    width: 100%;
}
.imgholder {

}
.title {

}