body {
        background: linear-gradient(to right, rgb(4, 55, 143), rgb(42, 42, 43));
        font-family: 'Roboto', sans-serif;
        background-image: url("/view/images/background.png");
     }


h1 {
    color:red;
}

#left{
    color:blue;
}

#right{
    color:yellow;
}



