html {
    background-image: url("view/images/background.png");
    background-size: cover;  
}

body {
        background: linear-gradient(to right, rgb(4, 55, 143), rgb(42, 42, 43));
        font-family: 'Roboto', sans-serif;
        color:lightgrey;
        font-size: 100%;
        font-size: 20px;
        margin-left:2%;
    
     }

h1 {
    color:lightgrey;
    font-size: 3rem;
}

#left {
  
  float: left;
  text-align: center;
  position: fixed;
  
}

#right {
  /*border-style: solid;
  border-width: 2px;
  border-color: lightcoral;*/
  margin-left:20%;
  margin-right: 40%;
}

#userdata {
    border-right: black;
    border-right-style: solid;
    border-width: 0.1rem;
}