body {
  font-family: 'Roboto', sans-serif;
  color:lightgrey;
  font-size: 100%;
  font-size: 20px;
  margin-left:15%;
  margin-right:15%;
}

h1 {
  color:lightgrey;
  font-size: 3rem;
}

/*#left {
  margin: 0 auto;
  text-align: center;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}*/

#profil{
  text-align: center;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

#profil_image{
  border-radius: 50%;
  text-align:center;
  margin: 0 auto;


}
#profil_image img {
  border-radius: 50%;

  
}
#userdata{
  text-align: center;
  padding-top: 20px;
  
}
#userquestions{
text-align:center;
padding-top: 20px;
}

/*#right {
  /*border-style: solid;
  border-width: 2px;
  border-color: lightcoral;
  margin-left:20%;
  margin-right: 20%;
}*/
